<a href="https://colab.research.google.com/github/Doclikam/Python-pydata/blob/main/SportsAnalytic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
url='https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-04-07/tdf_winners.csv'
sports=pd.read_csv(url, sep=',')

In [4]:
sports.tail(20)

,edition,start_date,winner_name,winner_team,distance,time_overall,time_margin,stage_wins,stages_led,height,weight,age,born,died,full_name,nickname,birth_town,birth_country,nationality
86,87,2000-07-01,Lance Armstrong,U.S. Postal Service,3662.0,92.552222,0.101667,1,12,1.77,75.0,28,1971-09-18,NaN,Lance Edward Armstrong,"Le Boss, Big Tex",Plano,USA,United States
87,88,2001-07-07,Lance Armstrong,U.S. Postal Service,3458.0,86.291111,0.101667,4,8,1.77,75.0,29,1971-09-18,NaN,Lance Edward Armstrong,"Le Boss, Big Tex",Plano,USA,United States
88,89,2002-07-06,Lance Armstrong,U.S. Postal Service,3272.0,82.086667,0.118611,4,11,1.77,75.0,30,1971-09-18,NaN,Lance Edward Armstrong,"Le Boss, Big Tex",Plano,USA,United States
89,90,2003-07-05,Lance Armstrong,U.S. Postal Service,3427.0,83.686667,0.016944,1,13,1.77,75.0,31,1971-09-18,NaN,Lance Edward Armstrong,"Le Boss, Big Tex",Plano,USA,United States
90,91,2004-07-03,Lance Armstrong,U.S. Postal Service,3391.0,83.600556,0.101667,5,7,1.77,75.0,32,1971-09-18,NaN,Lance Edward Armstrong,"Le Boss, Big Tex",Plano,USA,United States
91,92,2005-07-02,Lance Armstrong,Discovery Channel,3593.0,86.250556,0.067778,1,17,1.77,75.0,33,1971-09-18,NaN,Lance Edward Armstrong,"Le Boss, Big Tex",Plano,USA,United States
92,93,2006-07-01,Óscar Pereiro,Caisse d'Epargne–Illes Balears,3657.0,89.674167,0.008889,0,8,1.77,68.0,28,1977-08-03,NaN,Óscar Pereiro Sío,NaN,Mos,Spain,Spain
93,94,2007-07-07,Alberto Contador,Discovery Channel,3570.0,91.007222,0.006389,1,4,1.76,62.0,24,1982-12-06,NaN,Alberto Contador Velasco,El Pistolero,Pinto,Spain,Spain
94,95,2008-07-05,Carlos Sastre,Team CSC,3559.0,87.881111,0.016111,1,5,1.73,60.0,33,1975-04-22,NaN,Carlos Sastre Candil,NaN,Leganés,Spain,Spain
95,96,2009-07-04,Alberto Contador,Astana,3459.0,85.809722,0.067778,2,7,1.76,62.0,26,1982-12-06,NaN,Alberto Contador Velasco,El Pistolero,Pinto,Spain,Spain
96,97,2010-07-03,Andy Schleck,Team Saxo Bank,3642.0,91.990833,0.016944,2,12,1.86,68.0,25,1985-06-10,NaN,Andy Raymond Schleck,NaN,Luxembourg City,Luxembourg,Luxembourg
97,98,2011-07-02,Cadel Evans,BMC Racing Team,3430.0,86.206111,0.016944,1,2,1.74,64.0,34,1977-02-14,NaN,Cadel Lee Evans,NaN,Katherine,Australia,Australia
98,99,2012-06-20,Bradley Wiggins,Team Sky,3496.0,87.579722,0.050833,2,14,1.90,69.0,32,1980-04-28,NaN,Bradley Marc Wiggins,Wiggo,Ghent,Belgium,Great Britain
99,100,2013-06-29,Chris Froome,Team Sky,3404.0,83.938889,0.067778,3,14,1.86,69.0,28,1985-05-20,NaN,Christopher Clive Froome,Froomey,Nairobi,Kenya,Great Britain
100,101,2014-07-05,Vincenzo Nibali,Astana,3660.5,89.985000,0.118611,4,19,1.80,65.0,29,1984-11-14,NaN,NaN,"Lo Squalo (The Shark), 'il Roditore' (The Nibb...",Messina,Italy,Italy
101,102,2015-07-04,Chris Froome,Team Sky,3360.3,84.770556,0.016944,1,16,1.86,69.0,30,1985-05-20,NaN,Christopher Clive Froome,Froomey,Nairobi,Kenya,Great Britain
102,103,2016-07-02,Chris Froome,Team Sky,3529.0,89.080000,0.067778,2,14,1.86,69.0,31,1985-05-20,NaN,Christopher Clive Froome,Froomey,Nairobi,Kenya,Great Britain
103,104,2017-07-01,Chris Froome,Team Sky,3540.0,86.348611,0.015000,0,15,1.86,69.0,32,1985-05-20,NaN,Christopher Clive Froome,Froomey,Nairobi,Kenya,Great Britain
104,105,2018-07-07,Geraint Thomas,Team Sky,3349.0,83.286944,0.016944,2,11,1.83,71.0,32,1986-05-25,NaN,Geraint Howell Thomas,G,Cardiff,Wales,Great Britain
105,106,2019-07-06,Egan Bernal,Team Ineos,3349.0,82.950000,0.016944,0,2,1.75,60.0,22,1997-01-13,NaN,Egan Arley Bernal Gómez,NaN,Bogotá,Columbia,Colombia

In [5]:
sports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edition        106 non-null    int64
 1   start_date     106 non-null    object
 2   winner_name    106 non-null    object
 3   winner_team    106 non-null    object
 4   distance       106 non-null    float64
 5   time_overall   98 non-null     float64
 6   time_margin    98 non-null     float64
 7   stage_wins     106 non-null    int64
 8   stages_led     106 non-null    int64
 9   height         66 non-null     float64
 10  weight         67 non-null     float64
 11  age            106 non-null    int64
 12  born           106 non-null    object
 13  died           56 non-null     object
 14  full_name      46 non-null     object
 15  nickname       74 non-null     object
 16  birth_town     106 non-null    object
 17  birth_country  106 non-null    object
 18  nationality    106 non-null    object
dtypes: float64(5), int64(4), object(10)
memory usage: 15.9+ KB

In [6]:
sports.head(5)

,edition,start_date,winner_name,winner_team,distance,time_overall,time_margin,stage_wins,stages_led,height,weight,age,born,died,full_name,nickname,birth_town,birth_country,nationality
0,1,1903-07-01,Maurice Garin,La Française,2428.0,94.553889,2.989167,3,6,1.62,60.0,32,1871-03-03,1957-02-19,NaN,The Little Chimney-sweep,Arvier,Italy,France
1,2,1904-07-02,Henri Cornet,Conte,2428.0,96.098611,2.270556,1,3,NaN,NaN,19,1884-08-04,1941-03-18,NaN,Le rigolo (The joker),Desvres,France,France
2,3,1905-07-09,Louis Trousselier,Peugeot–Wolber,2994.0,NaN,NaN,5,10,NaN,NaN,24,1881-06-29,1939-04-24,NaN,Levaloy / Trou-trou,Paris,France,France
3,4,1906-07-04,René Pottier,Peugeot–Wolber,4637.0,NaN,NaN,5,12,NaN,NaN,27,1879-06-05,1907-01-25,NaN,NaN,Moret-sur-Loing,France,France
4,5,1907-07-08,Lucien Petit-Breton,Peugeot–Wolber,4488.0,NaN,NaN,2,5,NaN,NaN,24,1882-10-18,1917-12-20,Lucien Georges Mazan,Lucien Petit-Breton,Plessé,France,France

# **Winners per stage**

In [ ]:
sns.boxplot(data=sports, x='', y='')

# Winners age and stage led

In [8]:
sports['']

1144