# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

### Step 3. Assign it to a variable called wine

In [3]:
wine=pd.read_csv(url, sep=',')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [20]:
wine.columns

Index(['1', '14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28',
       '2.29', '5.64', '1.04', '3.92', '1065'],
      dtype='object')

In [25]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]], axis=1, inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [26]:
wine.columns=['alcohol', ' malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue' ]

In [27]:
wine.head(2)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [32]:
wine.loc[:3, 'alcohol']=np.nan
wine.head(3)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [36]:
wine.loc[3:4, 'magnesium']=np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [50]:
wine['alcohol']=wine['alcohol'].replace(np.nan, 10)
wine['alcohol'].head(4)
wine['magnesium']=wine['magnesium'].replace(np.nan, 100)

### Step 9. Count the number of missing values

In [51]:
wine.isna().sum()

alcohol              0
 malic_acid          0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [54]:
rand=np.random.randint(0,10, 10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [64]:
wine.loc[rand]=np.nan
wine.head(20)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
15,14.30,1.92,20.0,120.0,3.14,1.97,1.07
16,13.83,1.57,20.0,115.0,3.40,1.72,1.13
17,14.19,1.59,16.5,108.0,3.93,1.86,1.23
18,13.64,3.10,15.2,116.0,3.03,1.66,0.96
19,14.06,1.63,16.0,126.0,3.17,2.10,1.09

### Step 12.  How many missing values do we have?

In [65]:
wine.isna().sum()

alcohol              7
 malic_acid          7
alcalinity_of_ash    7
magnesium            7
flavanoids           7
proanthocyanins      7
hue                  7
dtype: int64

### Step 13. Delete the rows that contain missing values

In [66]:
wine.dropna()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Step 14. Print only the non-null values in alcohol

In [69]:
wine['alcohol'].notnull().sum()

170

### Step 15.  Reset the index, so it starts with 0 again

In [70]:
wine.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
172,172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.